Launcher/SmartDstLauncher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Project">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PropertyGroup">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OutputType" type="xs:string" />
              <xs:element name="TargetFramework" type="xs:string" />
              <xs:element name="LangVersion" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Sdk" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>